@import "tailwindcss";

:root {
  --green: #16a34a;
  --green-light: #dcfce7;
  --green-dark: #15803d;
}

html {
  overflow-y: scroll;
}

@layer base {
  body {
    background-color: white;
    color: var(--color-slate-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
